/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
@font-face {
    font-family: 'cirruscumulus-master';
    src: url(../font/cirruscumulus-master/fonts/CirrusCumulus.ttf);
}

body {
    font-family: 'cirruscumulus-master';
    color: red;
    cursor: crosshair;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin: 0;
}

.y {
    background-color: white;
    position: relative;
    width: 50%;
    border: 1px solid red;
}

.content {
    min-height: 250px;
    padding: .2rem;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
}

.y::before {
    background-color: red;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    width: 3000px;
    position: absolute;
    z-index: -1;
}

.y::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3000px;
    width: 1px;
    background-color: red;
    z-index: -1;
}

.x {
    animation: x 13s linear infinite alternate;
}
  
.y {
  animation: y 7s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 50%));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 250px));
  }
}


/* button */

input, button {
    font-family: 'cirruscumulus-master';
    font-size: 2rem;
    border-radius: 10px;
    padding: .2rem;
    border: 1px solid red;
    color: red;
    margin: 10px;
}

input[type="password"] {
    -webkit-text-security: disc;
    display:table-cell;
    width: 100%;
}

button {
    cursor: pointer;
    margin-left: auto;
}

button:hover {
    background-color: red;
    color: #fff;
}
/* typo */
label {
    font-size: 3rem;
    margin: 20px .2rem;
    font-weight: 300;
    width: 100%;
    cursor: crosshair;
}

@media screen and (max-width: 400px) {
    label, input, button {
        font-size: 2rem;
    }    
}

